/* Animação adaptada do site https://cssanimation.rocks/starwars/ */

/* Animation properties */
.star {
  animation: star 5s ease-out;
  top: -0.75em;
}

.wars {
  animation: wars 5s ease-out;
  bottom: -0.5em;
}

.byline span {
  animation: spin-letters 5s linear;
  display: inline-block;
}

.byline {
  animation: move-byline 5s linear;
  color: white;
  font-family: ITC serif Gothic , Lato , sans-serif;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 27%;
}

/* Keyframes */

@keyframes star {

  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes wars {

  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes spin-letters {

  0%, 10% {
    opacity: 0;
    transform: rotateY(90deg);
  }

  100% {
    opacity: 1;
    transform: rotateY(0);
  }
}

@keyframes move-byline {

  0% {
    transform: translateZ(5em);
  }

  100% {
    transform: translateZ(0);
  }
}

/* Make the 3D work on the container */
.starwars-demo {
  height: 17em;
  left: 50%;
  perspective: 800px;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  transform-style: preserve3d;
  width: 34em;
}

/* General styles and layout */
img {
  width: 100%;
}

.star, .wars, .byline {
  position: absolute;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and ( max-width : 600px ) {

  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and ( max-width : 480px ) {

  .starwars-demo {
    font-size: 7px;
  }
}

